#content
{
    display: flex;
    margin-top: 0.5rem;
}

#listContent
{
    flex: 3;
    background-color: red;
    min-height: 250px;
    flex: 1;
    
}
#left-arrow
{
    margin: auto;
}
#right-arrow
{
    margin: auto;
}

